<nav>
    <div class="searchbar">
        <form  action="/search">
          <label>Search a show<input name="search"></label>
        </form>
    </div>
    <div class="navbar">
        <% if (isLogin) { %>
        <li><a href="/profile/myshows">My shows</a></li>
        <li><a href="/profile/myartists">My artists</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/profile">Profile</a></li>
       <% } else { %>
        <li><a href="/">Home</a></li>
        <li><a href="/artists">Artists</a></li>       
        <li><a href="/auth/login">Login</a></li> 
       <% } %>
    </div>
  </nav>