<nav>
    <div class="search-box">
        <form  action="/search" class="form-search">
          <button class="btn-search"><i class="fa fa-search"></i></button>
          <input name="search" class="input-search" placeholder='Type to search...''>
        </form>
    </div>
    <div class="header-logo">
      <img src="/images/logo-white.png" alt="Findeatre's logo">
      <h1 calss="name-h1">Findeatre</h1>
    </div>
    <div class="navbar">
        <% if (isLogin) { %>
        <li><a href="/home">Home</a></li>
        <li><a href="/artists">Artists</a></li>  
        <li><a href="/profile/myshows">My shows</a></li>
        <li><a href="/profile/myartists">My artists</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/profile">Profile</a></li>
       <% } else { %>
        <li><a href="/home">Home</a></li>
        <li><a href="/artists">Artists</a></li>       
        <li><a href="/auth/login">Login</a></li> 
       <% } %>
    </div>
  </nav>