<div class="leftbox">
    <img src="#" alt="Artist's photo">
    <h2>William Shakespeare</h2>
    <div>
        <h4>Bio</h4>
        <p>Lorem ipsum</p>
    </div>
</div>

<div class="rightbox">
    <div>
        <h4>Upcoming shows</h4>
        <p>Lorem ipsum</p>
    </div>
    <div>
        <h4>Past shows</h4>
        <p>Lorem ipsum</p>
    </div>
    <div>
        <h4>My comment</h4>
        <p>Lorem ipsum</p>
    </div>
    <div>
        <h4>Receive an alert when a new show is added</h4>
    </div>
</div>
