<h2>Artists I follow</h2>
<section class="citysection">
    <div class="showbox">
        <img src="#" alt="A photo of William Shakespeare">
        <a href="artists/artistdetail">William Shakespeare</a>
    </div>
</section>