<h2>Upcoming shows in</h2>
<section class="citysection">
    <h2>Amsterdam</h2>
    <div class="showbox">
        <img src="#" alt="A photo of Dutch National Opera">
        <p>05/05/2023</p>
        <p>La Traviata</p>
        <p>Dutch National Opera</p>
    </div>
    <div class="showbox">
        <img src="#" alt="A photo of Dutch National Opera">
        <p>05/05/2023</p>
        <p>La Traviata</p>
        <p>Dutch National Opera</p>
    </div>
    <div class="showbox">
        <img src="#" alt="A photo of Dutch National Opera">
        <p>05/05/2023</p>
        <p>La Traviata</p>
        <p>Dutch National Opera</p>
    </div>
</section>

<section class="citysection">
    <h2>Paris</h2>
    <div class="showbox">
        <img src="#" alt="A photo of Dutch National Opera">
        <p>05/05/2023</p>
        <p>La Traviata</p>
        <p>Dutch National Opera</p>
    </div>
    <div class="showbox">
        <img src="#" alt="A photo of Dutch National Opera">
        <p>05/05/2023</p>
        <p>La Traviata</p>
        <p>Dutch National Opera</p>
    </div>
    <div class="showbox">
        <img src="#" alt="A photo of Dutch National Opera">
        <p>05/05/2023</p>
        <p>La Traviata</p>
        <p>Dutch National Opera</p>
    </div>
</section>
