<a class="landing-link" href="/home">
<div class="landing-page">

</div>

<div class="logo-div">
    <div class="name-logo">
    <img class="animate__animated animate__fadeInDown" src="/images/logo2.png" alt="logo" />
    <h1 class="name-h1 animate__animated animate__fadeInDown">Findeatre</h1>
    </div>  
    <h3 class="catchphrase animate__animated animate__fadeInUp">Find your favorite theatre play in your area</h3>
    <h3 class="catchphrase enter-btn animate__animated animate__fadeIn animate__delay-1s">Enter</h3>
</div>
</a>