<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= appTitle %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  
  <body>
    <nav>
      <div class="searchbar">
          <form>
            <label>Search a show<input></label>
          </form>
      </div>
      <div class="navbar">
          <li><a href="/profile/shows">My shows</a></li>
          <li><a href="/profile/artists">My artists</a></li>
          <li><a href="/auth/login">Login</a></li>
          <li><a href="/logout">Logout</a></li>
      </div>
    </nav>
    <%- body %>
    
    <script type="text/javascript" src="/js/script.js"></script>

  </body>
</html>
