<form>
  <label>Username <input /></label>
  <label>Password <input /></label>
  <button class="login-btn">Log in</button>
</form>

<form>
  <label>Username <input /></label>
  <label>Email address <input /></label>
  <label>Password <input /></label>
  <button class="signup-btn">Sign up</button>
</form>
