<div class="leftbox">
    <img src="#" alt="Show's photo">
    <h2>Romeo and Juliet</h2>
    <div>
        <p>Date: 10-05-2023</p>
        <p>Location: International Theater Amsterdam</p>
    </div>
</div>

<div class="rightbox">
    <div>
        <h4>Synopsis</h4>
        <p>Lorem ipsum</p>
    </div>
    <div>
        <h4>Author</h4>
        <p>Lorem ipsum</p>
    </div>
    <div>
        <h4>Director</h4>
        <p>Lorem ipsum</p>
    </div>
    <div>
        <h4>Cast</h4>
        <p>Lorem ipsum</p>
    </div>
</div>
