/*Generic Formatting*/

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

img {
  max-width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  color: 15px;
}

/*Navbar*/
nav {
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.navbar li {
  margin: 0 1vw;
}

/*Page with all shows*/
.showgrid {
  display: grid;
  grid-template: auto / 1fr 1fr 1fr;
  gap: 10px;
}

/*Show details page*/
.detailpage {
  display: grid;
  grid-template: auto / 1.5fr 2fr;
  gap: 10px;
  margin: 10vh 1vw;
}

/*Show details page*/


/* Auth page */

.login {
  display: block;
}

.sign-up {
  display: none;
}

/*CHANGES START HERE*/

/* Body full page */
body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

h2 {
  margin: 2% 0;
}

/*Page with all shows*/
.citysection {
  display: flex;
  flex-direction: column;
  margin: 0 0 5% 0;
}

.showgrid {
  margin: 0 0 5% 0;
}


.showbox {
  position: relative;
  padding: 5%;
}

.showbox img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.topleft-position {
  position: absolute;
  top: 8px;
  left: 20px;
}

.topright-position p {
  margin: 0;
}

.topright-position {
  position: absolute;
  top: 15px;
  right: 10px;
}

.topright-position button {
  background-color: transparent;
  height: 7vh;
  width: 7vw;
  border: none;
  padding: 0;
}

.topright-position img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

/*Changes by Adam*/

.grey-box {
  position: absolute;
  width: 40dvw;
  height: 100%;
  top: 15%;
  left: 2%;
  z-index: -1;
  background-color: gray;
}

.detailpage {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  margin: 10vh 1vw;
}

.detailbox-left {
  position: relative;
  height: 100%;
}

.details-img {
  height: 100%;
  filter: brightness(60%);
}

.details-txt {
  position: absolute;
  color: white;
  bottom: 10%;
  width: 90%;
  margin-left: 5%;
}

.details-txt > h1 {
  font-size: 3.5rem;
  margin-bottom: 0;
  text-align: left;
}

.details-txt > h3 {
  margin: 0.5rem 0 2rem 0;
  text-align: left;
}

.details-txt > h4 {
  margin: 0;
  text-align: justify;
  line-height: 1.6rem;
}

.detailbox-right {
  background-color: #e3223f;
  height: 100%;
}

.detailbox-right h3 {
  color: black;
  text-align: center;
}

.detailbox-right p {
  color: white;
}

.detailbox-right hr {
  width: 80%;
  color: white;
}

.detailbox-dates > h3,
.detailbox-dates > h5 {
  color: white;
  text-align: center;
}

.details-artists {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 10px;
}

.artist-id-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll {
  height: 100px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}
